@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-sans: "Inter", system-ui, sans-serif;
}

body {
  background-color: var(--color-base-100);
  color: var(--color-base-content);
  min-height: 100vh;
}
